splitMQTT.json
[
    {
        "id": "8d3f0afe2a5455f1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "05bbf49b9ba07866",
        "type": "mqtt in",
        "z": "8d3f0afe2a5455f1",
        "name": "fromIAQ",
        "topic": "medida",
        "qos": "0",
        "datatype": "auto",
        "broker": "9bb8382a5cc0f7e3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 40,
        "wires": [
            [
                "8401f2814c8ff42c"
            ]
        ]
    },
    {
        "id": "8401f2814c8ff42c",
        "type": "json",
        "z": "8d3f0afe2a5455f1",
        "name": "transformIntoJS",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 240,
        "y": 40,
        "wires": [
            [
                "4f532d9446ab75f2"
            ]
        ]
    },
    {
        "id": "4f532d9446ab75f2",
        "type": "function",
        "z": "8d3f0afe2a5455f1",
        "name": "separateMeasures",
        "func": "msg.topic = \"toBACnet/\" + msg.payload.device_info.uuid + \"/\"\nmsg.payload = msg.payload.measures\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 40,
        "wires": [
            [
                "88ba073a09193756"
            ]
        ]
    },
    {
        "id": "88ba073a09193756",
        "type": "split",
        "z": "8d3f0afe2a5455f1",
        "name": "splitMeasures",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 620,
        "y": 40,
        "wires": [
            [
                "37134416c3fe8672"
            ]
        ]
    },
    {
        "id": "37134416c3fe8672",
        "type": "function",
        "z": "8d3f0afe2a5455f1",
        "name": "editMessage",
        "func": "msg.topic = msg.topic + msg.payload.n\nmsg.payload = msg.payload.v\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 40,
        "wires": [
            [
                "33b8186903d291c3"
            ]
        ]
    },
    {
        "id": "33b8186903d291c3",
        "type": "mqtt out",
        "z": "8d3f0afe2a5455f1",
        "name": "toBroker",
        "topic": "",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9bb8382a5cc0f7e3",
        "x": 940,
        "y": 40,
        "wires": []
    },
    {
        "id": "9bb8382a5cc0f7e3",
        "type": "mqtt-broker",
        "name": "IAQ",
        "broker": "172.16.30.161",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]