docker/nodered/flows/flows.json
[
    {
        "id": "8d3f0afe2a5455f1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "05bbf49b9ba07866",
        "type": "mqtt in",
        "z": "8d3f0afe2a5455f1",
        "name": "fromIAQ",
        "topic": "medida",
        "qos": "0",
        "datatype": "auto",
        "broker": "9bb8382a5cc0f7e3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 40,
        "wires": [
            [
                "8401f2814c8ff42c"
            ]
        ]
    },
    {
        "id": "8401f2814c8ff42c",
        "type": "json",
        "z": "8d3f0afe2a5455f1",
        "name": "transformIntoJS",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 240,
        "y": 40,
        "wires": [
            [
                "4f532d9446ab75f2"
            ]
        ]
    },
    {
        "id": "4f532d9446ab75f2",
        "type": "function",
        "z": "8d3f0afe2a5455f1",
        "name": "separateMeasures",
        "func": "msg.topic = \"toBACnet/\" + msg.payload.device_info.uuid + \"/\"\nmsg.payload = msg.payload.measures\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 40,
        "wires": [
            [
                "88ba073a09193756"
            ]
        ]
    },
    {
        "id": "88ba073a09193756",
        "type": "split",
        "z": "8d3f0afe2a5455f1",
        "name": "splitMeasures",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 620,
        "y": 40,
        "wires": [
            [
                "37134416c3fe8672"
            ]
        ]
    },
    {
        "id": "37134416c3fe8672",
        "type": "function",
        "z": "8d3f0afe2a5455f1",
        "name": "editMessage",
        "func": "msg.topic = msg.topic + msg.payload.n\nmsg.payload = msg.payload.v\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 40,
        "wires": [
            [
                "33b8186903d291c3"
            ]
        ]
    },
    {
        "id": "33b8186903d291c3",
        "type": "mqtt out",
        "z": "8d3f0afe2a5455f1",
        "name": "toBroker",
        "topic": "",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9bb8382a5cc0f7e3",
        "x": 940,
        "y": 40,
        "wires": []
    },
    {
        "id": "bb5c8dec4075dca6",
        "type": "inject",
        "z": "8d3f0afe2a5455f1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 160,
        "wires": [
            [
                "0876bb6eb7e63723"
            ]
        ]
    },
    {
        "id": "0876bb6eb7e63723",
        "type": "BACnet-Read",
        "z": "8d3f0afe2a5455f1",
        "name": "Lectura",
        "objectType": "2",
        "instance": "3b91776736602dc6",
        "propertyId": "85",
        "device": "4cde29161c85f4aa",
        "server": "d58ab7a57785c9c6",
        "multipleRead": false,
        "x": 260,
        "y": 160,
        "wires": [
            [
                "22a5962a7d40515a"
            ]
        ]
    },
    {
        "id": "dbd836aa3f1e53f3",
        "type": "BACnet-Write",
        "z": "8d3f0afe2a5455f1",
        "name": "Escritura",
        "objectType": "45",
        "instance": "3b91776736602dc6",
        "valueTag": "3",
        "valueValue": "123",
        "propertyId": "85",
        "priority": "",
        "device": "4cde29161c85f4aa",
        "server": "d58ab7a57785c9c6",
        "multipleWrite": false,
        "x": 260,
        "y": 220,
        "wires": [
            [
                "22a5962a7d40515a"
            ]
        ]
    },
    {
        "id": "580c932b407144b8",
        "type": "inject",
        "z": "8d3f0afe2a5455f1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 220,
        "wires": [
            [
                "dbd836aa3f1e53f3"
            ]
        ]
    },
    {
        "id": "22a5962a7d40515a",
        "type": "debug",
        "z": "8d3f0afe2a5455f1",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 160,
        "wires": []
    },
    {
        "id": "9bb8382a5cc0f7e3",
        "type": "mqtt-broker",
        "name": "IAQ",
        "broker": "172.16.30.161",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "3b91776736602dc6",
        "type": "BACnet-Instance",
        "name": "prueba",
        "instanceAddress": "3"
    },
    {
        "id": "4cde29161c85f4aa",
        "type": "BACnet-Device",
        "name": "Gateway",
        "deviceAddress": "172.16.30.162"
    },
    {
        "id": "d58ab7a57785c9c6",
        "type": "BACnet-Client",
        "name": "Red",
        "adpuTimeout": "3000",
        "port": "47808",
        "interface": "172.16.30.161",
        "broadcastAddress": "172.16.30.255"
    }
]